<div class="d-flex flex-column container mt-2">

    <div class="p-2">
      <a (click)="anteriorPagina()">
        <i class="img-fluid far fa-arrow-alt-circle-left"></i>  
      </a>
    </div>


    <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit(pedidoForm.value)">
      
      <fieldset *ngIf="paginaFormulario===1">
        <div class="d-flex flex-column">
          <div class="p-2">
            <h1 class="text-center text-primary font-weight-bolder">Realizar pedido de lo que sea</h1>
          </div>
  
          <div class="form-group p-2">
            <label for="producto"> Productos: </label>
            <textarea class="form-control" id="producto" type="textarea" formControlName="producto" rows="3" cols="20" (change)="onChangeProducto($event.target)" ></textarea>
            <div class="form-control-feedback"
            *ngIf="producto.invalid && (producto.dirty || producto.touched)">
          <p *ngIf="producto.errors?.required">EL producto es requerido</p>
         
                  </div>
            <label for="foto">Adjunte una foto de lo que busca (opcional)</label>
            <input type="file" class="form-control-file" name="foto" id="foto" accept=".jpg" aria-describedby="fileHelpId" (change)="onFileSelected($event.target)">
            <small id="fileHelpId" class="form-text text-muted">(Formato JPG, 5MB max)</small>
          </div>
        </div>
        <div *ngIf=" pruductoOK === '' " >
          <div class="p-2 w-100" *ngIf="paginaFormulario === 1" >
            <button class="btn btn-primary w-100" (click)="siguientePagina()" disabled>Siguiente</button>
          </div>
        </div>
        <div *ngIf=" pruductoOK !== '' " >
          <div class="p-2 w-100" *ngIf="paginaFormulario === 1" >
            <button class="btn btn-primary w-100" (click)="siguientePagina()">Siguiente</button>
          </div>
        </div>
      </fieldset>
      
      <fieldset *ngIf="paginaFormulario===2">

        <div class="d-flex flex-column">
          <div class="p-2">
            <h2 class="text-center">Dirección del comercio</h2>
          </div>

          <div class="form-group p-2">
            <label for="ciudadComercio"> Ciudad del comercio: </label>
            <select class="form-control" formControlName="ciudadComercio" name="ciudadComercio" id="ciudadComercio" (change)="onChange($event.target)">
              <option *ngFor="let opt of ciudadesDisponibles" value="{{opt.nombre}}">{{opt.nombre}}</option>
            </select>
          </div>
        
          <div class="form-group p-2">
            <label for="calleComercio"> Calle del comercio: </label>
            <input class="form-control" id="calleComercio" type="text" formControlName="calleComercio" >
          </div>
        
          <div class="form-group p-2">
            <label for="numeroComercio"> Numero del comercio: </label>
            <input class="form-control" id="numeroComercio" type="text" formControlName="numeroComercio">
          </div>
          
          <div class="form-group p-2">
            <label for="detalleComercio"> Detalle Ubicacion de Comercio: </label>
            <textarea class="form-control" id="detalleComercio" type="textarea" formControlName="detalleComercio" rows="3" cols="20" (change)="onChangeDireccion($event.target)"></textarea>
            
          </div>
          
          <div class="container-mapa form-group p-2">
            <app-map [ciudad]="ciudadComercio" (direccion)="onMapClick($event)"></app-map>
          </div>
        </div>
        <div *ngIf="direccionOk === ''" >
          <div class="p-2 w-100" *ngIf="paginaFormulario === 2" >
            <button class="btn btn-primary w-100" (click)="siguientePagina()" disabled>Siguiente</button>
          </div>
        </div>
        <div *ngIf="direccionOk !== ''">
          <div class="p-2 w-100" *ngIf="paginaFormulario === 2" >
            <button class="btn btn-primary w-100" (click)="siguientePagina()">Siguiente</button>
          </div>
        </div>
        
      </fieldset>
      
      <fieldset *ngIf="paginaFormulario===3">
        <div class="d-flex flex-column">
          
          <div class="p-2">
            <h2 class="text-center">Dirección del Cliente</h2>
          </div>

          <div class="form-group p-2">
            <label for="ciudadCliente"> Ciudad del cliente: </label>
            <select class="form-control" formControlName="ciudadCliente" name="ciudadCliente" id="ciudadCliente" (change)="onChange($event.target)" [selectedIndex]="1">
              <option *ngFor="let opt of ciudadesDisponibles" value="{{opt.nombre}}">{{opt.nombre}}</option>
            </select>
          </div>
          
          <div class="form-group p-2">
            <label for="calleCliente"> Calle del cliente: </label>
            <input class="form-control" id="calleCliente" type="text" formControlName="calleCliente" >
          </div>
        
          <div class="form-group p-2">
            <label for="numeroCliente"> Numero de cliente: </label>
            <input class="form-control" id="numeroCliente" type="text" formControlName="numeroCliente">
          </div>
          
          <div class="form-group p-2">
            <label for="detalleUbicacionCliente"> Detalle Ubicacion del Cliente: </label>
            <textarea class="form-control" id="detalleUbicacionCliente" type="textarea" formControlName="detalleUbicacionCliente" rows="3" cols="20"></textarea>
          </div>

          <div class="container-mapa form-group p-2">
            <app-map [ciudad]="ciudadCliente" (direccion)="onMapClick($event)"></app-map>
          </div>
        </div>
        <div class="p-2 w-100" *ngIf="paginaFormulario === 3" >
          <button class="btn btn-primary w-100" (click)="siguientePagina()">Siguiente</button>
        </div>
      </fieldset>
      
      <fieldset *ngIf="paginaFormulario===4">
        <div class="d-flex flex-column">

          <div class="p-2">
            <h2 class="text-center">Momento de entrega</h2>
          </div>

          <div class="input-group p-2">
            <div class="input-group-prepend">
              <input type="checkbox" (change)="checkOnChange($event)">
            </div>
            <span class="p-2"> Entrega inmediata </span>
          </div>

          <div *ngIf=" entregaInmediata === true ">
            <div class="form-group p-2">
            <label for="fechaPedido"> Fecha de pedido: </label>
            <input class="form-control" id="fechaPedido" type="text"   placeholder="aaaa-MM-dd hh:mm:ss" formControlName="fechaPedido">
          </div>
        </div>
          <div *ngIf=" entregaInmediata === false ">
            <div class="form-group p-2">
              <label for="fechaPedido"> Fecha de pedido: </label>
              <input class="form-control" id="fechaPedido" type="datetime-local"   placeholder="aaaa-MM-dd hh:mm:ss" formControlName="fechaPedido">
            </div>
          </div>
        </div>
        <div class="p-2 w-100" *ngIf="paginaFormulario === 4" >
          <button class="btn btn-primary w-100" (click)="siguientePagina()">Siguiente</button>
        </div>
      </fieldset>
      
      <fieldset *ngIf="paginaFormulario === 5">      
        <div class="d-flex flex-column">
          
          <div class="p-2">
            <h2 class="text-center">Pago</h2>
          </div>

          

          <div class="form-group p-2">
            <label for="formaDePago"> Seleccione una forma de pago: </label>
            <select (change)="enviarHijo()" class="form-control" formControlName="formaDePago" name="formaDePago" id="formaDePago">
              <option  *ngFor="let opt of modosPagoDisponible" value="{{opt.modo}}">{{opt.modo}}</option>
            </select>
          </div>

          <div *ngIf="datosEnviarTipoPagos === 'Pago con tarjeta de debito Visa' || datosEnviarTipoPagos === 'Pago en Efectivo' ">
            <app-pago [datosEnviadosTipoPago]="datosEnviarTipoPagos"></app-pago>
          </div>
        </div>
        <div class="p-2 w-100" *ngIf="paginaFormulario === 5" >
         
        </div>
      </fieldset>

      <div class="d-flex mt-1">
        <div class="p-2 w-100" *ngIf="paginaFormulario === 5">
          <button class="btn btn-primary w-100" type="submit" >Confirmar Pedido</button>
        </div>
        
      </div>

    </form>
  </div>